<app-guest-header></app-guest-header>

<main>
  <app-guest-banner></app-guest-banner>
  <div class="container-fluid col-xl-10 col-xxl-8 px-4 py-5 marketing">
    <div class="row">
      <div class="col-md-12">
        <!--Heading 1-->
        <h1 class="one"><span>Contact Us </span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="contact-info">
          <h2>Write to Us</h2>
          <h4>We would love to hear from you !</h4>
        </div>
      </div>
      <div class="col-md-9">
        <div class="contact-form">
          <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            <div class="form-group py-3">
              <label for="fullname">Full Name</label>
              <input
                type="text"
                class="form-control"
                name="Fullname"
                placeholder="Full Name"
                formControlName="Fullname"
              />
            </div>
            <div class="form-group py-3">
              <label for="Email">Email</label>
              <input
                type="email"
                class="form-control"
                name="Email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                formControlName="Email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group py-3">
              <label for="fullname">Phone</label>
              <input
                type="text"
                class="form-control"
                name="Phone"
                placeholder="Phone Number"
                formControlName="Phone"
              />
            </div>
            <div class="form-group py-3">
              <label for="comment">Comment</label>
              <textarea
                class="form-control"
                formControlName="Comment"
                name="Comment"
              >
              </textarea>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!FormData.valid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<app-guest-footer></app-guest-footer>
