<app-auth-header componentTitle="ICTAK Batchmanager"></app-auth-header>
<div id="layoutSidenav">
  <app-side-nav id="authnav"></app-side-nav>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Batchmanger Dashboard</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        </ol>
        <div class="card mb-4">
          <div class="card-body">
            <p class="mb-0">Welcome back!</p>
          </div>
        </div>
      </div>
    </main>
    <app-auth-footer></app-auth-footer>
  </div>
</div>
