<app-guest-header></app-guest-header>

<main>
  <app-guest-banner></app-guest-banner>
  <div class="container-fluid col-xl-10 col-xxl-8 px-4 py-5 marketing">
    <div class="row">
      <div class="col-md-12">
        <!--Heading 1-->
        <h1 class="one"><span>FAQs</span></h1>
      </div>

      <div class="col-md-12">
        <p>
           Q1 : When can I get my Id card?</p>
           <p>
           Answer: When the batch manager approve your application you can download from your profile.
        </p>
        <p>
           
        </p>
        <p>
         
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
</main>
<app-guest-footer></app-guest-footer>
