<app-guest-header></app-guest-header>

<main>
  <app-guest-banner></app-guest-banner>
  <div class="container-fluid col-xl-10 col-xxl-8 px-4 py-5 marketing">
    <div class="row">
      <div class="col-md-12">
        <!--Heading 1-->
        <h1 class="one"><span>FAQs</span></h1>
      </div>

      <div class="col-md-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus massa
          dui, posuere vitae velit at, dapibus gravida libero. Nulla tempus ante
          in orci tincidunt ultrices. Aliquam quis faucibus massa. Ut eget
          iaculis eros. Morbi tincidunt id mi non placerat. Donec malesuada
          tellus risus, in tincidunt lacus faucibus at. Praesent accumsan magna
          nec eros aliquet, at interdum felis facilisis.
        </p>
        <p>
          Suspendisse feugiat, nisl feugiat viverra auctor, ligula nisl
          vestibulum ipsum, at faucibus lorem tellus nec lacus. Nulla eleifend
          libero sed odio elementum tempus. Vivamus venenatis erat ac congue
          condimentum. Curabitur nisl nulla, vestibulum a velit non, placerat
          venenatis dui. Aenean elementum non felis vitae fringilla. Praesent
          finibus, nunc sit amet vulputate viverra, odio libero aliquet ex, id
          pellentesque nibh augue sit amet quam. Suspendisse potenti. Phasellus
          vulputate dapibus bibendum. Curabitur in rutrum nibh. Aenean at sapien
          sollicitudin, auctor enim in, porta enim. Ut laoreet scelerisque nisl
          porttitor hendrerit.
        </p>
        <p>
          Duis cursus libero sed aliquam congue. Donec aliquam tincidunt tellus
          in volutpat. Sed mi elit, semper eu sagittis quis, ultrices eget
          ligula. Sed pulvinar ultrices dolor. Nulla efficitur, magna vitae
          mattis hendrerit, sapien dui condimentum purus, eget pellentesque ex
          dolor ac augue. Phasellus hendrerit est et lobortis vestibulum. Sed
          nec tincidunt enim. Donec maximus, leo sollicitudin volutpat faucibus,
          enim enim egestas enim, et ullamcorper purus arcu sit amet est. Ut
          commodo nibh sem, sit amet cursus purus vestibulum nec. In cursus nisl
          vitae blandit fringilla. Curabitur rutrum lacus non nisi vestibulum
          tempor. Vivamus ut placerat mauris, sed vehicula nibh.
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
</main>
<app-guest-footer></app-guest-footer>
