<app-guest-header></app-guest-header>

<main>
  <app-guest-banner></app-guest-banner>
  <div class="container-fluid col-xl-10 col-xxl-8 px-4 py-5 marketing">
    <div class="row">
      <div class="col-md-12">
        <!--Heading 1-->
        <h1 class="one"><span>About Us</span></h1>
      </div>

      <div class="col-md-12">
        <p>
          ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) 
          for imparting ICT skills to the youths of Kerala and improving their employability opportunities in the Industry.
           The Company is supported by Govt. of India, partnered by Govt. of Kerala and the IT industry.

        </p>
        <p>
          The ICTAK provide different courses for students that makes them expert in industry.
          The management of student and their batches become difficult in some senerios. For this purpose we develop a web application 
          for the effient management of students and their batch coordinators. 
        </p>
        <p>
          
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
</main>
<app-guest-footer></app-guest-footer>
