<h2>Apply for ID</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()"  >
    <label for="course">Course</label>
    <select id="course" (change)="onCourseChange()" formControlName="course">
        <option *ngFor="let course of courses" value="{{course.name}}">{{course.name}}</option>
    </select>
    <label for="batch">Batch</label>
    <select id="batch" formControlName="batch">
        <option *ngFor="let batch of batchesInselectedCourse" value="{{batch}}">{{batch}}</option>
    </select>
    <label for="photo">Photo</label>
    <input  type="file" name="photo" accept="image/*" (change)="onFileChange($event)" >
    <input type="submit">
</form>
