<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">
                    Password Reset
                  </h3>
                </div>
                <div class="card-body">
                  <div class="small mb-3 text-muted">
                    Enter your new password.
                  </div>
                  <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-floating mb-3">
                      <input
                        class="form-control"
                        id="password"
                        type="password"
                        placeholder="password"
                        formControlName="password"
                      />
                      <label for="inputEmail">New password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input
                          class="form-control"
                          id="confirmPassword"
                          type="password"
                          placeholder="password"
                          formControlName="confirmPassword"
                        />
                        <label for="inputEmail">Confirm password</label>
                      </div>
                      <div class="error" *ngIf="form.controls['confirmPassword'].dirty &&form.errors?.['passwordMismatch']">
                        Passwords do not match
                      </div>
                    <div
                      class="d-flex align-items-center justify-content-between mt-4 mb-0"
                    >
                      <a class="small" routerLink="/">Return to home</a>
                      <button type="submit" class="btn btn-primary" [disabled]="this.form.invalid"
                        >Reset Password</button
                      >
                    </div>
                  </form>
                </div>
                <div class="msg">{{this.message}}</div>
                <div class="card-footer text-center py-3">
                  <div class="small">
                    <a routerLink="/pages/register">Need an account? Sign up!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2022</div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  