<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <!-- Admin -->
        <div class="sb-sidenav-menu-heading"></div>

        <a class="nav-link" [routerLink]="['/backend/admin/dashboard']">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Dashboard
        </a>
        <a
          class="nav-link collapsed"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#menuUserManagement"
          aria-expanded="false"
          aria-controls="collapseLayouts"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          User Management
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
          class="collapse"
          id="menuUserManagement"
          aria-labelledby="headingOne"
          data-bs-parent="#sidenavAccordion"
        >
          <nav class="sb-sidenav-menu-nested nav">
            <a
              class="nav-link"
              [routerLink]="['/backend/admin/batchmanagers']"
              [routerLinkActive]="['active']"
              >Batch Managers</a
            >
            <a
              class="nav-link"
              [routerLink]="['/backend/admin/students']"
              [routerLinkActive]="['active']"
              >Students</a
            >
          </nav>
        </div>

        <a
          class="nav-link collapsed"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#menuAdministration"
          aria-expanded="false"
          aria-controls="collapseLayouts"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          Administration
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
          class="collapse"
          id="menuAdministration"
          aria-labelledby="headingOne"
          data-bs-parent="#sidenavAccordion"
        >
          <nav class="sb-sidenav-menu-nested nav">
            <a
              class="nav-link"
              [routerLink]="['/backend/admin/courses']"
              [routerLinkActive]="['active']"
              >Courses</a
            >
            <a
              class="nav-link"
              [routerLink]="['/backend/admin/batches']"
              [routerLinkActive]="['active']"
              >Batches</a
            >
          </nav>
        </div>

        <!-- <a
          class="nav-link collapsed"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#menuSupport"
          aria-expanded="false"
          aria-controls="collapseLayouts"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          Support &amp; Logging
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
          class="collapse"
          id="menuSupport"
          aria-labelledby="headingOne"
          data-bs-parent="#sidenavAccordion"
        >
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="layout-static.html"
              >Contact submissions</a
            >
            <a class="nav-link" href="layout-sidenav-light.html">Logs</a>
          </nav>
        </div> -->
        <!-- ./Admin -->
      </div>
    </div>
    <div class="sb-sidenav-footer"></div>
  </nav>
</div>
