<div
  class="bg-dark text-white px-4 py-5 text-center"
  style="background-image: url('assets/img/bg.jpg'); background-size: cover"
>
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">ICTAK ID Generator</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">
        ICTAK ID Generator developed for making the student registration and generation of id within less time. 
        The web application help the students as well as the batch controllers for handling their work efficiently.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <!-- <button
          type="button"
          class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
        >
          Custom button
        </button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">
          Secondary
        </button> -->
      </div>
    </div>
  </div>
</div>
