<app-guest-header></app-guest-header>

<main>
  <app-guest-banner></app-guest-banner>
  <div class="container-fluid col-xl-10 col-xxl-8 px-4 py-5 marketing">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <form
          class="p-4 p-md-5 border rounded-3 bg-light"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="inputEmail"
              placeholder="name@example.com"
              formControlName="email"
            />
            <label for="inputEmail">Email / Username</label>
          </div>
          <div
            class="error"
            *ngIf="form.controls['email'].dirty && form.controls['email'].errors?.['required']"
          >
            Email is required
          </div>
          <div
            class="error"
            *ngIf="form.controls['email'].dirty && form.controls['email'].errors?.['email']"
          >
            Email is invalid
          </div>

          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Password"
              formControlName="password"
            />
            <label for="inputPassword">Password</label>
          </div>
          <div
            class="error"
            *ngIf="form.controls['password'].dirty && form.controls['password'].errors?.['required']"
          >
            Password is required
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="" formControlName="remember" />
              Remember me
            </label>
          </div>
          <button
            class="w-100 btn btn-lg btn-primary"
            type="submit"
            [disabled]="form.invalid"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Login
            <!-- <div *ngIf="!loading">
              Login
            </div>
            <div *ngIf="loading" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div> -->
          </button>
          <div class="loginError">{{ loginError }}</div>
          <hr class="my-4" />
          <small class="text-muted"
            ><a routerLink="/pages/forgot-password"
              >Forgot password? Click here.</a
            ></small
          >
        </form>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">ICTAK ID Generator</h1>
        <p class="lead">
          ICTAK ID Generator developed for making the student registration and generation of id within less time. 
          The web application help the 
          students as well as the batch controllers for handling their work efficiently.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a routerLink="/pages/register">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
              Sign Up!
            </button>
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">
              Default
            </button> -->
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <!--Heading 1-->
        <h1 class="one"><span>Our Team</span></h1>
      </div>
      <div class="col-lg-3">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Aravind</title>
          <rect width="100%" height="100%" fill="#777"></rect>
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>

        <h2>Aravind</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Prasad P N</title>
          <rect width="100%" height="100%" fill="#777"></rect>
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>

        <h2>Prasad P N</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Sreevidhya C G</title>
          <rect width="100%" height="100%" fill="#777"></rect>
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>

        <h2>Sreevidhya C G</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
      </div>
      <div class="col-lg-3">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Sreyas A</title>
          <rect width="100%" height="100%" fill="#777"></rect>
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>

        <h2>Sreyas A</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
</main>
<app-guest-footer></app-guest-footer>
