<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        class="img-fluid"
        src="assets/img/LOGO_ICTAK-Name.svg"
        style="max-width: 360px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/pages/home/']"
            [routerLinkActive]="['active']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/pages/about-us/']"
            [routerLinkActive]="['active']"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/pages/faqs/']"
            [routerLinkActive]="['active']"
            >FAQs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/pages/contact-us/']"
            [routerLinkActive]="['active']"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" [routerLink]="['/pages/register/']">
            Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
