button{
    min-width: 10%;
    margin: 1%;
    height: 2.5rem;

}

.remarks{
    margin: 1%;
    height: 2.5rem;
    flex-grow: 1;

}
mat-card-actions{
    display: flex;
    align-items: center;
    flex-wrap: wrap ;
}

.err{
    text-align: right;
    color: rgb(178, 68, 68);
    padding:0 1.5rem 1rem 0;
}