<app-guest-header></app-guest-header>

<main>
  <app-guest-banner></app-guest-banner>
  <div class="container-fluid col-xl-10 col-xxl-8 px-4 py-5 marketing">
    <div class="row">
      <div class="col-md-12">
        <!--Heading 1-->
        <h1 class="one"><span>Sign Up</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="contact-info">
          <h2>Register here!</h2>
          <h4>Please fill the form and submit!</h4>
        </div>
      </div>
      <div class="col-md-9">
        <form (ngSubmit)="Registration()">
          <div class="form-group" id="text">
            <label for="name">Student Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="studentDetails.name"
            />
          </div>

          <div class="form-group" id="text">
            <label for="alterEgo">Course Type</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="studentDetails.courseType"
              name="courseType"
            />
          </div>
          <div class="form-group" id="text">
            <label for="alterEgo">Photo</label>
            <input
              type="file"
              class="form-control"
              [(ngModel)]="studentDetails.photo"
              name="photo"
            />
          </div>
          <div class="form-group" id="text">
            <label for="alterEgo">Email Id</label>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="studentDetails.emailId"
              name="emailId"
            />
          </div>
          <div class="form-group" id="text">
            <label for="alterEgo">Phone Number</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="studentDetails.phoneno"
              name="phoneno"
            />
          </div>
          <div class="form-group" id="text">
            <label for="power">Batch</label>
            <select class="form-control" id="power" name="batch" required>
              >
              <!-- [(ngModel)]="studentDetails.power" name="power"> -->
              <!-- <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option> -->
            </select>
          </div>
          <div class="form-group" id="text">
            <label for="alterEgo">course starting date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="studentDetails.courseStartDate"
              name="courseStartDate"
            />
          </div>
          <div class="form-group" id="text">
            <label for="alterEgo">course ending date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="studentDetails.courseEndDate"
              name="courseEndDate"
            />
          </div>

          <div class="btn">
            <button class="btn btn-primary" type="submit">REGISTER</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<app-guest-footer></app-guest-footer>
