
<div class="main">
    <h2 class="head">Application status</h2>
    <div *ngIf="!numberOfApplications" class="card1">No applications found</div>
    <ng-container *ngIf="numberOfApplications" >
        <div class="card1"  *ngFor="let application of data">
            <div class="items">
                <div class="text">Course: {{application.batch_id.course.course_name}}</div>
                <div class="text">Batch: {{application.batch_id.batch_name}}</div>
                <div class="text">Applied on: {{application.updatedAt| date: "dd.MM.y HH:mm:ss"}}</div>

            </div>
            <div class="items">
                <div class="status">{{application.status| uppercase}}</div>
                <div class="text" *ngIf="application.remarks">Remarks: {{application.remarks}}</div>
            </div>
            <div class="download-button items" *ngIf="application.status==='approved'">
                <button mat-raised-button  (click)="this.onDownload(application._id)"> Download ID</button> 
                <mat-progress-bar *ngIf="pdfLoading===application._id"  mode="indeterminate"></mat-progress-bar>
                <div *ngIf="pdfError" class="pdfError">{{pdfError}}</div>
            </div>
        </div>
    </ng-container>
</div>
