
<div class="search">
    <input class="input1" matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
</div>


<mat-table
class="courses-table mat-table mat-elevation-z8 applicationtable"
matSort
[dataSource]="dataSource"
>

  <ng-container matColumnDef="_id">
    <div *matHeaderCellDef class="mat-header-cell" mat-sort-header>
      Course Name
    </div>
    <div
      *matCellDef="let application"
      data-label="Course Name"
      class="mat-cell"
    >
      {{ application._id }}
    </div>
  </ng-container>

  <ng-container matColumnDef="status">
    <div *matHeaderCellDef class="mat-header-cell" mat-sort-header>
      Enabled
    </div>
    <div
      class="enabled-cell"
      *matCellDef="let application"
      data-label="Enabled"
      class="mat-cell"
    >
      {{ application.status}}
    </div>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <div *matHeaderCellDef class="mat-header-cell" mat-sort-header>
      Created At
    </div>
    <div
      class="createdAt-cell"
      *matCellDef="let application"
      data-label="Created At"
      class="mat-cell"
    >
      {{ application.createdAt | date: "dd.MM.y HH:mm:ss" }}
    </div>
  </ng-container>
  <ng-container matColumnDef="student_id">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let application">
      <button
        #editButton
        mat-icon-button
        class="mat-icon-button"
        [attr.data-id]="application._id"
      >
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button
        #deleteButton
        mat-icon-button
        class="mat-icon-button"
        [attr.data-id]="application._id"
      >
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>

  <mat-row
    *matRowDef="let application; columns: tableColumns"
    class="mat-row"
    (click)="onClick(application._id)"
  ></mat-row>

  <!-- Row shown when there is no matching data. -->
  <div class="mat-row nodata" *matNoDataRow>
    <div class="mat-cell " colspan="4">No data matching the filter "{{input.value}}"</div>
  </div>

</mat-table>
<mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
</mat-paginator>