.search{
  margin: 1rem 0 1rem 1rem;
  text-align: right;
} 

.input1{
  border-radius: 1rem;
  border: 1px solid;
  text-align: center;
  width: 40%;
  font-size: 1rem;
}

.applicationtable{
  border-radius: .4rem;
}

.paginator{
  margin-top: 1rem;
}

.nodata{
  margin: 4rem;
  text-align: center;
}
mat-row:last-child{
  border: 0px solid;
}
mat-row:hover{
  background-color: rgb(238, 245, 252);
  border-radius: 3px;
  cursor: pointer;
}
