.search{
  margin: 1rem 0 1rem 1rem;
  text-align: right;
} 

.input1{
  border-radius: 1rem;
  border: 1px solid;
  text-align: center;
  width: 40%;
}

.applicationtable{
  border-radius: .4rem;
}

.paginator{
  margin-top: 1rem;
}

.nodata{
  margin: 1rem;
  text-align: center;
}