<app-auth-header></app-auth-header>
<div id="layoutSidenav">
  <app-side-nav id="authnav"></app-side-nav>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Batches</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item">Batches</li>
          <li class="breadcrumb-item active">List</li>
        </ol>
        <ngb-alert
          #selfClosingAlert
          *ngIf="successMessage"
          type="success"
          (closed)="successMessage = ''"
          >{{ successMessage }}
        </ngb-alert>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-9">
                Total {{ dataSource.totalDocs }} items found.
              </div>
              <div class="col-sm-1">
                <button
                  mat-raised-button
                  color="primary"
                  #createButton
                  (click)="createObject($event)"
                >
                  <i class="fa fa-plus"></i> Create Batch
                </button>
              </div>
              <div class="col-sm-2">
                <mat-form-field appearance="standard">
                  <input matInput placeholder="Search" #input />
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="spinner-container" *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
          </div>
          <mat-table
            class="batches-table mat-table mat-elevation-z8"
            matSort
            [dataSource]="dataSource"
          >
            <ng-container matColumnDef="_id">
              <div
                *matHeaderCellDef
                class="mat-header-cell"
                mat-sort-header
                matSortActive="_id"
                matSortDirection="asc"
                matSortDisableClear
              >
                No.
              </div>
              <div
                *matCellDef="let batch; let i = index"
                data-label="No."
                class="mat-cell"
              >
                {{ dataSource.pagingCounter + i }}
              </div>
            </ng-container>
            <ng-container matColumnDef="batch_name">
              <div *matHeaderCellDef class="mat-header-cell" mat-sort-header>
                Batch Name
              </div>
              <div
                *matCellDef="let batch"
                data-label="Batch Name"
                class="mat-cell"
              >
                {{ batch.batch_name }}
              </div>
            </ng-container>

            <ng-container matColumnDef="course">
              <div *matHeaderCellDef class="mat-header-cell">Course</div>
              <div
                *matCellDef="let batch"
                data-label="Batch Name"
                class="mat-cell"
              >
                {{ batch.course?.course_name }}
              </div>
            </ng-container>
            <ng-container matColumnDef="user">
              <div *matHeaderCellDef class="mat-header-cell">Batch Manager</div>
              <div
                *matCellDef="let batch"
                data-label="Batch Manager"
                class="mat-cell"
              >
                {{ batch.user?.first_name }} {{ batch.user?.last_name }}
              </div>
            </ng-container>
            <ng-container matColumnDef="start_date">
              <div *matHeaderCellDef class="mat-header-cell" mat-sort-header>
                Start Date
              </div>
              <div
                *matCellDef="let batch"
                data-label="Start Date"
                class="mat-cell"
              >
                {{ batch.start_date | date: "dd.MM.y" }}
              </div>
            </ng-container>

            <ng-container matColumnDef="end_date">
              <div *matHeaderCellDef class="mat-header-cell" mat-sort-header>
                End Date
              </div>
              <div
                *matCellDef="let batch"
                data-label="End Date"
                class="mat-cell"
              >
                {{ batch.end_date | date: "dd.MM.y" }}
              </div>
            </ng-container>

            <ng-container matColumnDef="enabled">
              <div *matHeaderCellDef class="mat-header-cell" mat-sort-header>
                Enabled
              </div>
              <div
                class="enabled-cell"
                *matCellDef="let batch"
                data-label="Enabled"
                class="mat-cell"
              >
                {{ batch.enabled }}
              </div>
            </ng-container>

            <ng-container matColumnDef="createdAt">
              <div *matHeaderCellDef class="mat-header-cell" mat-sort-header>
                Created At
              </div>
              <div
                class="createdAt-cell"
                *matCellDef="let batch"
                data-label="Created At"
                class="mat-cell"
              >
                {{ batch.createdAt | date: "dd.MM.y HH:mm:ss" }}
              </div>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let batch">
                <button
                  #editButton
                  mat-icon-button
                  class="mat-icon-button"
                  [attr.data-id]="batch._id"
                  (click)="editObject(editButton)"
                >
                  <mat-icon color="primary">edit</mat-icon>
                </button>
                <button
                  #deleteButton
                  mat-icon-button
                  class="mat-icon-button"
                  [attr.data-id]="batch._id"
                  (click)="deleteObject(deleteButton)"
                >
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>

            <mat-row
              *matRowDef="let row; columns: tableColumns"
              class="mat-row"
            ></mat-row>
          </mat-table>
          <mat-paginator
            [length]="dataSource.totalDocs"
            [pageSize]="10"
            [pageSizeOptions]="[3, 5, 10]"
          ></mat-paginator>
        </div>
      </div>
    </main>
    <app-auth-footer></app-auth-footer>
  </div>
</div>
